.signs  {
	background-color: orange !important;
	text-align: center;
	color: white;
}
.col1{
	text-align: right;
	color: white;
	background-color: lightgrey;
}
.col-md-3, .col-md-6{
	background-color: whitesmoke;
	border: solid lightgrey 1px;
}

/*.col1{
	background-color: grey;
	height: 70px;
}
h4{
	height: 70px;
	background-color: blue;
	text-align: center;
border: solid 2px;}

h2{
	height: 70px;
	background-color: yellow;
	text-align: center;
	}
h3{
	text-align: right;
	color: white;
}
